.shopping_cart p {
    text-align: center;
}
table {
    margin: $default_mar;
    width: 70%;
    background-color: $lightgray;
}
table, tr {
    border: 1px solid $gray;
    border-collapse: collapse;
    text-align: center;
}
th {
    background-color: $dark_color;
    color: $white;
    padding: 10px 0;
}
td {
    padding: 5px 0;
}
th, td {
    width: 20%;
}