form {
    display: flex;
    width: 100%;
    justify-content: space-around;

    div {
        display: flex;
        flex-direction: column;
    }
}
label {
    margin-bottom: 3px;
}
.error {
    text-align: center;
    color: $warning_color;
}