$white: white;
$dark_color: #474747;
$brand_color: #f7ede2;
$warning_color: #ff0000;
$border_color: lightsalmon;
$btn_color: #69b38a;
$gray: #aaaebc;
$lightgray: #f0f0f0;

$default_pad: 10px;
$default_mar: 20px auto;