.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
    border: 2px solid lightsalmon;
    background-color: antiquewhite;
}
h1 {
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    justify-content: space-around;
}
form div {
    display: flex;
    flex-direction: column;
}
label {
    margin-bottom: 3px;
}

table {
    margin: 20px auto;
    width: 60%;
    background-color: #c6fdfa;
}
table, tr {
    border: 1px solid gray;
    border-collapse: collapse;
    text-align: center;
}
th {
    background-color: #474747;
    color: white;
    padding: 10px 0;
}
td {
    padding: 5px 0;
}
